.about {
    text-align: center; /* Center the content horizontally */
  }
  
  .about-us-heading h1 {
    display: inline-block; 
    padding: 10px 20px; /* Add padding to create button-like appearance */
    background-color: #007bff; /* Example background color */
    color: #fff; /* Text color */
    font-size: 24px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    /* Add more styles as needed */
  }
  .paragraph {
    margin-right: 20px; /* Adjust as needed */
    text-align: justify; /* Align text to justify */
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;

  }
  
  .img{
    max-width: 450px;
    display: flex;
    float: left;
    border-radius: 10px;
    border: 3px solid white;
    margin-right: 20px;
   
  }
  .container{
    margin: 100px auto;
    width: 75%;
    display: flex;
  }

  .text h4{
    padding: 5px;
  }
  .text p{
    font-size: 18px;
    text-align: justify;
    padding: 10px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-right: 20px;
  }
  .imgage{
    max-width: 350px;
    display: flex;
    float: right;
    border-radius: 10px;
    border: 3px solid white;
    margin-left: 20px;
  }
  .scrollspy-example {
    position: relative;
    height: 100vh;
    overflow: auto;
  }
 
