.description-container {
    flex-grow: 1;
    max-width: 250px; 
  }
  
  .description-text {
    max-height: 100px; 
    overflow-y: auto;
  }
  
  .title-container {
    flex-grow: 1;
    max-width: 100px; 
  }
  
  .title-text {
    max-height: 100px; 
    overflow-y: auto;
  }
  
  .date-container {
    flex-grow: 1;
    max-width: 100px; 
  }
  
  .date-text {
    max-height: 100px; 
    overflow-y: auto;
  }

  .description-accordion {
    width: 350px; /* Adjust the width as needed */
  }
  
 