/* 
.card-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.card-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    width:100px ;
    margin: auto;
    margin-top: auto;
    background: #fff;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;

    
}
  
.card{
    width: 500px;
}


.card-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.card-body {
    padding: 10px; /* Adjust the padding as needed */
  
    .container{
        display: flex;
        flex-direction: column;
        width:100px ;
        margin: auto;
        margin-top: 20px;
        background: #fff;
        padding-bottom: 10px;
        align-items: center;
        justify-content: center;
    
        
    }
    .card{
        width: 300px;
    }
    
    .card-header{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card-footer{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
    

    .card-footer button{
        background-color: #0056b3;
        color: #fff;
        
    }

    ::placeholder {
        font-size: 12px; /* Adjust the font size of the placeholder text */
    }

    .form-control {
        font-size: 14px; /* Adjust the font size of the input fields */
        height: 30px; /* Adjust the height of the input fields */
    }

    .card-body{
        padding: 10px; /* Adjust the padding of the card body */
        margin: 10px; /* Remove any margin to reduce space */
        height: 100px;
    }

    .custom-font {
        font-family: Roboto;
    }
  