/* 
.card-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.card-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    width:100px ;
    margin: auto;
    margin-top: auto;
    background: #fff;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;

    
}
  
.card{
    width: 500px;
}


.card-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.card-body {
    padding: 10px; /* Adjust the padding as needed */
  
    .container{
        display: flex;
        flex-direction: column;
        width:100px ;
        margin: auto;
        margin-top: 20px;
        background: #fff;
        padding-bottom: 10px;
        align-items: center;
        justify-content: center;
    
        
    }
    .card{
        width: 500px;
    }
    
    .card-header{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .card-footer{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
    

    .card-footer button{
        background-color: #0056b3;
    }


