.header {
  background-color: #0b4888; /* Set background color for the header */
  padding: 10px; /* Add padding for better appearance */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for separation */
  height: 90px; 
  display: flex; /* Use flexbox to center the header */
  justify-content: center; /* Center the header horizontally */
  align-items: center; /* Center the header vertically */
  
}

.logo-container {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 1px;
}

.applogo {
  width: 14%;
  height: 10%;
}

.applogo img{
  width: 80%; /* Make sure the image fills the entire space of its container */
  height: auto; /* Ensure the image maintains its aspect ratio */
  align-items: center;
  padding: 5%;
}

.app-name {
  font-size: 24px; /* Set font size for the app name */
  color: #ffffff; /* Set color for the app name */
  margin-right:60px;
  position:absolute;
  right: 0;
}
