/* Navbar.css */

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .menu {
    display: none; /* Hide menu by default */
    cursor: pointer;
  }
  
  .menu.open span {
    background-color: #fff; /* Color of the menu icon */
  }
  
  .menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
  }
  
  .open {
    display: flex;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  li {
    margin-right: 20px;
  }
  
  /* .dropdown {
    position: relative;
  }
  
  .dropdown-btn {
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }
  
  .dropdown-content li {
    margin-bottom: 10px;
  }
  
  .dropdown-content li:last-child {
    margin-bottom: 0;
  }
  
  .dropdown-content a {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-content button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
   */

   a {
    color: #fff; /* Text color of the links */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Font size */
    transition: color 0.3s ease; /* Smooth transition effect */
  }
  
  a:hover {
    color: #ffcc00; /* Text color on hover */
  }
  
  .btn {
    background-color: #ffcc00; /* Background color of the button */
    color: #333; /* Text color of the button */
    border: none; /* Remove border */
    padding: 8px 16px; /* Padding inside the button */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  
  .btn:hover {
    background-color: #ffdb4d; /* Background color on hover */
  }
  
  .open {
    display: flex; /* Show the menu when opened */
  }
  
  .dropdown-btn {
    cursor: pointer; /* Change cursor to pointer */
  }